<div id="<%= dom_id datasheet_revision %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Datasheet:</strong>
    <%= datasheet_revision.datasheet_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Region:</strong>
    <%= datasheet_revision.region %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Locale:</strong>
    <%= datasheet_revision.locale %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Version:</strong>
    <%= datasheet_revision.version %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= datasheet_revision.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source template:</strong>
    <%= datasheet_revision.source_template %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Render params:</strong>
    <%= datasheet_revision.render_params %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= datasheet_revision.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= datasheet_revision.published_at %>
  </div>
</div>
