<%= form_with(model: datasheet_revision, class: "contents") do |form| %>
  <% if datasheet_revision.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(datasheet_revision.errors.count, "error") %> prohibited this datasheet_revision from being saved:</h2>

      <ul class="list-disc ml-6">
        <% datasheet_revision.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :datasheet_id %>
    <%= form.text_field :datasheet_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:datasheet_id].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:datasheet_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :region %>
    <%= form.text_field :region, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:region].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:region].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :locale %>
    <%= form.text_field :locale, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:locale].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:locale].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :version %>
    <%= form.number_field :version, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:version].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:version].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.textarea :body, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:body].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:body].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :source_template %>
    <%= form.text_field :source_template, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:source_template].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:source_template].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :render_params %>
    <%= form.text_field :render_params, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:render_params].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:render_params].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.number_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:status].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :published_at %>
    <%= form.datetime_field :published_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": datasheet_revision.errors[:published_at].none?, "border-red-400 focus:outline-red-600": datasheet_revision.errors[:published_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
